<?xml version="1.0"?>
<launch>
  <env name="GAZEBO_PLUGIN_PATH" value="${GAZEBO_PLUGIN_PATH}:$(find stewart)/plugin/build" />
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find stewart)/sdf" />

  <arg name = "paused" default = "false"/>
  <arg name = "use_sim_time" default = "true"/>
  <arg name = "gui" default = "true"/>
  <arg name = "headless" default = "false"/>
  <arg name = "debug" default = "false"/>
  <arg name = "verbose" default = "true"/>

  <include file = "$(find gazebo_ros)/launch/empty_world.launch">
    <arg name = "world_name" value = "$(find stewart)/world/stewart.world" />
    <arg name = "debug" value = "$(arg debug)" />
    <arg name = "gui" value = "$(arg gui)" />
    <arg name = "paused" value = "$(arg paused)" />
    <arg name = "use_sim_time" value = "$(arg use_sim_time)" />
    <arg name = "headless" value = "$(arg headless)" />
    <arg name = "verbose" value = "$(arg verbose)" />
  </include>

  <node pkg="joy" type="joy_node" name="ps4_joy" output="screen" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="100.0" />
  </node>

  <node pkg="stewart" type="ik" name="ik" output="screen"> </node>
  <node pkg="stewart" type="ps4_controller" name="ps4_controller" output="screen"> </node>

</launch>
